

/*main stranka*/

#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

header {
  width: 100%;
  height: 100%;
  background: url(pozadi.jpg) no-repeat 50% 50%;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: -1;
}

footer {
  width: 100%;
  height: 300px;
  background: rgb(41, 41, 41);
  bottom: 700px;
  position: fixed;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  height: auto;
  min-height: 1400px;
  width: 100%;
  height: 100%;
  background: url(island.jpg) no-repeat 50% 50%;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: -1;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


header h1 {}

.content h1 {
  line-height: 1000px;
  color: #999;
}

footer h1 {
  line-height: 300px;
}

header,
footer,
#scroll-animate-main {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}





/* contact button */
.rounded-box {
     width: fit-content;
     padding: 40px;
     background: linear-gradient(145deg, #868686, #4e4e4e);
     border-radius: 15px;
     box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     font-size: 25px;
     font-family: Arial, sans-serif;
     text-align: center;
     text-wrap: nowrap;
     margin: 100px auto;
     transition: transform 0.3s;
     border: 1px solid #5c5c5c;
}

.rounded-box:hover {
     transform: translateY(-5px);
     box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2),
          0 8px 10px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
}


